<div class="container">
  <h2>Our Products</h2>
  <div class="row">
    @for (product of products; track $index) {
    <div class="col-md-4">
      <div class="card">
        <img
          [src]="product.image"
          class="card-img-top"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>
